API_HOST=http://ssm
TTY_S=/dev/ttyUSB0
PWRBTN=/dev/pwrbtn

TG_TOKEN=123456789:234567890qwertyuiopASDFG_ZXCV56789
TG_CHAT_ID=123456789
PG_HOST=PGSQL_SERVER
PG_USER=nextcloud
PG_PASSWORD=nextcloud_password
PG_DB=nextcloud